{% extends 'base.html.twig' %}

{% block body %}
	<section class="contactus" id="contact">
		<div class="container">

			<table class="table table-striped">
				<thead>
					<tr>
						<td>Data wykonania</td>
						<td>Temat zadania</td>
						<td>Czas pracy</td>
						<td></td>
					</tr>
				</thead>

				<tbody>
					{% for listOfTasksAssignedForUser in listOfTasksAssignedForUser %}
						<tr>
							<td>{{ listOfTasksAssignedForUser.date_when_task_was_created }}</td>
							<td>{{ listOfTasksAssignedForUser.task_subject }}</td>
							<td>{{ listOfTasksAssignedForUser.time_spent_on_the_task }}</td>
						</tr>
                    {% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</section>

    {% block javascript %}
	{% endblock %}

{% endblock %}



