{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
	<br>
	<section class="contactus">
		<div class="container">
			<div class="container">

				<h3 class="text-center">Rejestracja</h3>
				<br>

				{{form(registrationForm)}}

				</div>
			</section>
{% endblock %}
